{% extends 'base.html' %}

{% load gravatar %}

{% block title %}My account{% endblock %}

{% block content %}
<h4 style="color: #007676">My Account</h4>
<br>
<div>
    <img style="height: 128px; width: 128px !important; border-radius: 50% !important" src="{{ user|gravatar }}" alt="{{ username }}" class="w-100 rounded">
    <br>
    <br>
    <p class="text-muted" style="font-size: smaller;">Add a profile picture by using <a href="https://en.gravatar.com/">gravatar!</a></p>
</div>
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-lex">Save changes</button>
      </form>
    </div>
  </div>
{% endblock %}