{% extends 'base_athletes.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <section class="panel panel-primary">
    <header class="panel-heading">
      <h3 class="panel-header">Reset your password</h3>
    </header>
    <div class="panel-body">
      <p>Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</p>
      <a href="{% url 'login' %}" class="btn btn-default btn-block">Return to log in</a>
    </div>
  </section>
{% endblock %}