{% extends 'base.html' %}

{% load gravatar %}

{% block title %}
Trainings - {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
        <div>
            <img style="margin: auto; display: block; height: 128px; width: 128px !important; border-radius: 50% !important" src="{{ user|gravatar }}" alt="{{ username }}" class="w-100 rounded">
        </div>
        <h4 style="text-align: center; color: #007676">{{ user.first_name}} {{ user.last_name}}</h4>
        <br>
        <div class="mb-4">
            <a href="{% url 'new_training' %}" class="btn btn-lex">New Training</a>
        </div>         
        {% if trainings %}            
        {% for training in trainings %}
            {% if training.athlete == user %}
                <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="padding: 10px; background: #007676; color: #ffffff; border-radius: 2px">
                        {{ training.date }}
                    </h4>
                <div class="row">
                    <div class="col-md-4">
                        <p style="color: #777">
                            <strong style="color: #007676">Duration: </strong>
                            {{ training.time }} minutes
                        </p>
                    </div>
                    <div class="col-md-8">
                        <p style="color: #777">
                            <strong style="color: #007676">Location: </strong>
                            {{ training.location }}
                        </p>
                    </div>
                </div>
                <br> 
                <div class="row">
                    <div class="col-md-6">
                        <p style="color: #777">
                            <strong style="color: #007676">Description: </strong>
                            {{ training.description }}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p style="color: #777">
                            <strong style="color: #007676">Comment: </strong>
                            {{ training.comment }}
                        </p>
                    </div>                              
                </div>
                <div class="mt-3">
                    <a href="{% url 'edit_training' training.pk %}"
                        class="btn btn-lex btn-sm"
                        role="button">Edit</a>
                </div>
                <br>
                <p style="color: #007676"><strong>Training Breakdown</strong></p>
                <br>           
                {% for activity in activities %}
                    {% if training.date == activity.training_date_id %}          
                        <div class="row" style="margin-left: 0.5em">
                            <div class="col-md-3">
                                <p style="color: #777">
                                    <strong style="color: #007676">Time: </strong>
                                    {{ activity.time }} minutes
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p style="color: #777">
                                    <strong style="color: #007676">Intensity: </strong>
                                    {{ activity.intensity_type }}
                                </p>
                            </div>       
                            <div class="col-md-3">
                                <p style="color: #777">
                                    <strong style="color: #007676">Type: </strong>
                                    {{ activity.method_type }}
                                </p>
                            </div>                            
                        </div>
                        <br> 
                        <!--
                        <div class="row" style="margin-left: 0.5em">
                            <div class="col-md-12">
                                Comment: elfhds;fpsifpidsjpoifjdsifjidsjfoidsfjdsof                    
                            </div>
                        </div>
                        -->
                    {% endif %}
                {% endfor %}
                </div>
                </div>
                <br> 
            {% endif %}       
        {% endfor %}
        {% else %}
            <h3>You don't have any trainings yet :(</h3>                   
        {% endif %}        
    {% endif %}
</div>
{% endblock %}