{% extends 'base.html' %}

{% load gravatar %}

{% block title %}
Trainings - {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
        <div>
            <img style="margin: auto; display: block; height: 256px; width: 256px !important; border-radius: 50% !important" src="{{ user|gravatar }}" alt="{{ username }}" class="w-100 rounded">
        </div>
        <br>
        <h4 style="text-align: center; color: #007676">{{ user.first_name}} {{ user.last_name}}</h4>
        <br>
        <div class="mb-4">
            <a href="{% url 'new_training' %}" class="btn btn-lex">New Training</a>
            <a href="{% url 'new_activity' %}" class="btn btn-lex" role="button">Add Activity</a>
        </div>         
        {% if trainings %}            
        {% for training in trainings %}
            {% if training.athlete == user %}
                <div class="card">
                <div class="card-body">
                    <div class="card-title"> 
                        <div class="row" style="padding: 10px; background: #007676; color: #ffffff; border-radius: 2px">
                            <div class="col-md-10">                    
                            <h4 class="card-title">
                                {{ training }}
                            </h4>
                            </div>
                            <div class="col-md-2" style="text-align: right;">
                                <a href="{% url 'edit_training' training.pk %}"
                                    class="btn btn-secondary btn-sm"
                                    role="button">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="{% url 'delete_training' training.pk %}"
                                    class="btn btn-danger btn-sm"
                                    role="button">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-6">
                        <p style="color: #777">
                            <strong style="color: #007676">Duration: </strong>
                            {{ training.time }} minutes
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p style="color: #777">
                            <strong style="color: #007676">Location: </strong>
                            {{ training.location }}
                        </p>
                    </div>
                </div>
                <br> 
                <div class="row">
                    <div class="col-md-6">
                        <p style="color: #777">
                            <strong style="color: #007676">Description: </strong>
                            {{ training.description }}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p style="color: #777">
                            <strong style="color: #007676">Comment: </strong>
                            {{ training.comment }}
                        </p>
                    </div>                              
                </div>
                <hr>
                <p style="color: #007676"><strong>Training Breakdown:</strong></p>     
                {% for activity in activities %}
                    {% if training.date == activity.training_date_id %}          
                        <div class="row" style="margin-left: 0.5em">
                            <div class="col-md-4">
                                <p style="color: #777">
                                    <strong style="color: #007676">Time: </strong>
                                    {{ activity.time }} minutes
                                </p>
                            </div>
                            <div class="col-md-2">
                                    <p style="color: #777">
                                        <strong style="color: #007676">Sport: </strong>
                                        {{ activity.sport_type }}
                                    </p>
                                </div>
                            <div class="col-md-2">
                                <p style="color: #777">
                                    <strong style="color: #007676">Intensity: </strong>
                                    {{ activity.intensity_type }}
                                </p>
                            </div>       
                            <div class="col-md-2">
                                <p style="color: #777">
                                    <strong style="color: #007676">Type: </strong>
                                    {{ activity.method_type }}
                                </p>
                            </div>
                            <div class="col-md-2" style="text-align: right;">
                                <a href="{% url 'edit_activity' activity.pk %}"
                                    class="btn btn-secondary btn-sm"
                                    role="button">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="{% url 'delete_activity' activity.pk %}"
                                    class="btn btn-danger btn-sm"
                                    role="button">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </div>                           
                        </div>
                    {% endif %}
                {% endfor %} 
                </div>
                </div>
                <br>
            {% endif %}       
        {% endfor %}             
        {% endif %}        
    {% endif %}
</div>
{% endblock %}