.navbar-container {
    padding: 0 !important;
}

.navbar {
    margin-bottom: 0;
    background-color: #474747;
    padding: 0 5em 0 5em;
    font-size: 11px;
    letter-spacing: 4px;
    opacity: 0.9;
    border-bottom: 2px solid #007676 !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, .8) !important;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #007676 !important;
}

.navbar {
    margin-bottom: 0;
    background-color: #474747;
    padding: 0 5em 0 5em;
    font-size: 11px;
    letter-spacing: 4px;
    opacity: 0.9;
    border-bottom: 2px solid #007676 !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, .8) !important;
}

.navbar-toggler {
    background: #007676;
    border: #000000;
}

.btn-lex { 
    color: #fff; 
    background-color: #007676; 
    border-color: #000000; 
  } 
   
  .btn-lex:hover, 
  .btn-lex:focus, 
  .btn-lex:active, 
  .btn-lex.active, 
  .open .dropdown-toggle.btn-lex { 
    color: #fff; 
    background-color: #005C5C; 
    border-color: #000000; 
  } 
   
  .btn-lex:active, 
  .btn-lex.active, 
  .open .dropdown-toggle.btn-lex { 
    background-image: none; 
  } 
   
  .btn-lex.disabled, 
  .btn-lex[disabled], 
  fieldset[disabled] .btn-lex, 
  .btn-lex.disabled:hover, 
  .btn-lex[disabled]:hover, 
  fieldset[disabled] .btn-lex:hover, 
  .btn-lex.disabled:focus, 
  .btn-lex[disabled]:focus, 
  fieldset[disabled] .btn-lex:focus, 
  .btn-lex.disabled:active, 
  .btn-lex[disabled]:active, 
  fieldset[disabled] .btn-lex:active, 
  .btn-lex.disabled.active, 
  .btn-lex[disabled].active, 
  fieldset[disabled] .btn-lex.active { 
    background-color: #007676; 
    border-color: #000000; 
  } 
   
  .btn-lex .badge { 
    color: #007676; 
    background-color: #fff; 
}

.panel > .panel-heading {
  background-image: none;
  background-color: #007676;
  color: white;

}

.panel {
    border: 2px solid #007676;
    border-radius: 10px;
}