.navbar-container {
    padding: 0 !important;
}
.navbar {
    margin-bottom: 0;
    background-color: #474747;
    padding: 0 5em 0 5em;
    font-size: 11px;
    letter-spacing: 4px;
    opacity: 0.9;
    border-bottom: 2px solid #007676 !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, .8) !important;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #007676 !important;
}
.navbar-toggle {
    border-color: transparent;
}