{% extends 'base_athletes.html' %} {% block title %}Log in to Training Tracker{% endblock %} {% block content %}
<section class="panel panel-primary">
    <header class="panel-heading">
        <h3 class="panel-header">Log in</h3>
    </header>
    <div class="panel-body">
        <form method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"> {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-lex btn-block">Log in</button>
        </form>
    </div>
    <div class="panel-footer text-muted text-center">
        New to Training Tracker? <a href="{% url 'signup/' %}">Sign up</a>
        <br>
        <small>
          <a href="{% url 'password_reset/' %}">Forgot your password?</a>
        </small>
    </div>
</section>
{% endblock %}