{% extends 'base_athletes.html' %} {% block title %}Password changed!{% endblock %} {% block content %}
<section class="panel">
    <header class="panel-heading">
        <h3 class="panel-header">Password changed!</h3>
    </header>
    <div class="panel-body">
        <div class="alert alert-success" role="alert">
            You have successfully changed your password! You may now proceed to log in.
        </div>
        <a href="{% url 'login' %}" class="btn btn-default btn-block">Return to log in</a>
    </div>
</section>
{% endblock %}