{% extends 'base_athletes.html' %} {% block title %} {% if validlink %} Change password for {{ form.user.username }} {% else %} Reset your password {% endif %} {% endblock %} {% block content %}
<section class="panel panel-primary">
    <header class="panel-heading">
        {% if validlink %}
        <h3 class="panel-header">Change password for @{{ form.user.username }}</h3>
        {% else %}
        <h3 class="panel-header">Reset your password</h3>
        {% endif %}
    </header>
    <div class="panel-body">
        <form method="post" novalidate>
            {% csrf_token %} {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-lex btn-block">Change password</button>
        </form>
        {% else %}
        <div class="alert alert-danger" role="alert">
            It looks like you clicked on an invalid password reset link. Please try again.
        </div>
        <a href="{% url 'password_reset' %}" class="btn btn-default btn-block">Request a new password reset link</a> {% endif %}
    </div>
</section>
{% endblock %}