{% extends 'base_athletes.html' %} {% block title %}Sign up to Training Tracker{% endblock %} {% block content %}
<section class="panel panel-primary">
    <header class="panel-heading">
        <h3 class="panel-header">Sign up</h3>
    </header>
    <div class="panel-body">
        <form method="post" novalidate>
            {% csrf_token %} {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-lex btn-block">Create an account</button>
        </form>
    </div>
    <div class="panel-footer text-muted text-center">
        Already have an account? <a href="{% url 'login/' %}">Log in</a>
    </div>
</section>
{% endblock %}