{% extends 'base.html' %} {% load gravatar %} {% block title %} Trainings - {{ block.super }} {% endblock %} {% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <div>
        <img style="margin: auto; display: block; height: 256px; width: 256px !important; border-radius: 50% !important" src="{{ user|gravatar }}" alt="{{ username }}" class="w-100 rounded">
    </div>
    <br>
    <h4 style="text-align: center; color: #007676">{{ user.first_name}} {{ user.last_name}}</h4>
    <br>
    <div class="mb-4">
        <a href="{% url 'new_training' %}" class="btn btn-lex">New Training</a>
        <a href="{% url 'new_activity' %}" class="btn btn-lex" role="button">Add Activity</a>
    </div>
    <br> {% if trainings %} {% for tr in trainings %}
    <section class="panel">
        <header class="panel-heading">
            <div class="row">
                <div class="col-sm-8">
                    <h4>{{ tr }}</h4>
                </div>
                <div class="col-sm-4" style="text-align: right;">
                    <a href="{% url 'edit_training' tr.pk %}" class="btn btn-default btn-sm" role="button">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="{% url 'delete_training' tr.pk %}" class="btn btn-danger btn-sm" role="button">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </div>
            </div>
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <p style="color: #777">
                        <strong style="color: #007676">Duration: </strong> {% for act in activities %} {% if act.training_id_id == tr.id %} +{{ act.time }} {% endif %} {% endfor %} minutes
                    </p>
                </div>
                <div class="col-sm-6">
                    <p style="color: #777">
                        <strong style="color: #007676">Location: </strong> {{ tr.location }}
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <p style="color: #777">
                        <strong style="color: #007676">Description: </strong> {{ tr.description }}
                    </p>
                </div>
                <div class="col-sm-6">
                    <p style="color: #777">
                        <strong style="color: #007676">Comment: </strong> {{ tr.comment }}
                    </p>
                </div>
            </div>
            <hr>
            <p style="color: #007676"><strong>Training Breakdown:</strong></p>
            {% for act in activities %} {% if tr.id == act.training_id_id %}
            <div class="row" style="margin-left: 0.5em">
                <div class="col-sm-4">
                    <p style="color: #777">
                        <strong style="color: #007676">Time: </strong> {{ act.time }} minutes
                    </p>
                </div>
                <div class="col-sm-2">
                    <p style="color: #777">
                        <strong style="color: #007676">Sport: </strong> {{ act.sport_type }}
                    </p>
                </div>
                <div class="col-sm-2">
                    <p style="color: #777">
                        <strong style="color: #007676">Intensity: </strong> {{ act.intensity_type }}
                    </p>
                </div>
                <div class="col-sm-2">
                    <p style="color: #777">
                        <strong style="color: #007676">Type: </strong> {{ act.method_type }}
                    </p>
                </div>
                <div class="col-sm-2" style="text-align: right;">
                    <a href="{% url 'edit_activity' act.pk %}" class="btn btn-default btn-sm" role="button">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="{% url 'delete_activity' act.pk %}" class="btn btn-danger btn-sm" role="button">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </section>
    {% endfor %} {% endif %} {% endif %}
</div>
{% endblock %}